 .navbar-custom {
     backdrop-filter: blur(8px) !important;
     background-color: #031a27b9;
     font-size: 1.1em !important;
 }

 .logo {
     width: 250px;
     overflow: hidden;
 }

 .logo img {
     width: 80%;
 }

 .area-form-banner-home {
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     width: 100%;
     color: #fff;

 }

 .area-form-insti {
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     width: 100%;
     height: 90% !important;
     color: #fff;
 }

 .area-left,
 .area-right {
     width: 50%;
     height: 600px;
 }

 .area-left-inst,
 .area-right-inst {
     width: 50%;
     height: 100%;
 }

 .area-home-options {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .area-home-options li {
     padding: 10px;
     display: flex;
     align-items: center;
     color: #fff;
     list-style: none;
 }

 .area-home-options li span {
     margin-left: 10px;
 }

 .sub-title {
     opacity: .7;
     font-size: 1.3em;
     text-align: justify;
 }

 .area-left label {
     opacity: .7;
 }

 .bar-current-footer {
     width: 100%;
     height: 25px;
     background-color: #002842 !important;
 }

 .content-area-services {
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     flex-wrap: wrap;
 }

 .area-services {
     width: 100%;
     height: max-content;
     min-height: 800px;
     background-color: #fff;
     background-image: url('../imgs/background_services.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }

 .item-service {
     position: relative;
     width: 310px !important;
     height: 400px !important;
     background-color: #033C60 !important;
     overflow: hidden;
     transition: background-color 1s ease;
     z-index: 0;
     margin: 5px 5px 40px 5px;
     border: none !important;
 }

 .img-item-service {
     position: absolute;
     z-index: 1;
     width: 100%;
 }

 .area-title-service {
     opacity: 1 !important;
     height: 80px;
 }

 .area-title-service h5 {
     font-size: 1.4em;
 }

 .card-body-service {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }

 .content-item-service {
     position: relative;
     z-index: 2;
     color: #e5e5e5;
     text-align: center;
     height: 200px;

 }

 .description-service {
     font-size: 1.2em;
     opacity: .8;
     height: 60%;
     overflow: hidden;
     text-align: center !important;
 }

 .invisible-div {
     transition: 1s;
 }

 .area-footer-contato {
     width: 350px !important;
 }

 .area-desc-informations {

     width: 100%;
 }

 /* HOVERS*/

 .area-home-options li:hover {
     background-color: rgba(253, 253, 253, 0.2);
     cursor: pointer;
 }

 .item-service:hover {
     border: none !important;
     transition: .2s;
     box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
 }




 .item-service:hover .img-item-service {
     opacity: .3;
 }

 .item-service:hover .invisible-div {
     transition: 1s;
     display: none;
 }

 .item-service:hover .content-item-service {
     animation: fadeIn .2s ease-in forwards;
     height: max-content;
 }

 .item-service:hover .description-service {
     height: max-content;
     opacity: 1;
     text-align: justify !important;
 }

 .area-products {
     width: 100%;
     min-height: 600px;

 }

 #carroselProducts {
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     align-items: center;

 }

 .item-product {
     position: relative;
     z-index: 100;
     width: 580px;
     height: max-content;
     overflow: hidden;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
     border-radius: 10px;
     margin-bottom: 40px;
     background-color: #ffffff4a;
 }

 .content-product {
     position: relative;
     z-index: 100;
     display: flex;
     align-items: flex-start;
     width: 100%;
     height: 80%;
     justify-content: space-between;
     padding: 20px;
 }

 .title-product {
     text-align: left;
     margin-bottom: 20px;

 }

 .area-description-product {
     padding: 20px;
     text-align: justify;
     width: 290px;
     height: 350px;
     overflow: hidden;
     mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
     -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
 }

 .area-photo {
     width: 250px;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .area-photo img {
     width: 90%;
 }

 .ball-back {
     position: absolute;
     width: 290px;
     height: 290px;
     border-radius: 50%;
     background-color: #01304c26 !important;
     background-color: rgb(255, 255, 255);
     z-index: 1;
     top: 50%;
     left: 30%;
     transform: translate(-50%, -50%);
 }

 .area-before-footer {
     width: 100%;
     min-height: 600px;
     height: max-content;
     background-color: #fff !important;
 }

 .area-email-footer {
     background-color: #fff !important;
     border-radius: 10px;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
     height: 100% !important;
     overflow: hidden;
     width: 650px !important;
 }

 .area-email-footer form {
     margin: 0px auto;
     width: 75%;

 }

 .back-ground-email {
     margin: 0px auto;
     background-image: url("../imgs/email_background.png");
     background-size: cover;
     background-repeat: no-repeat;
     height: 400px !important;
     padding: 20px;
     margin: 20px;
 }

 .footer-card {
     background-image: url("../imgs/lines_footer_card.png");
     background-size: cover;
     background-repeat: no-repeat;
     width: 100%;
     height: 30px;
 }

 .area-footer-contato {
     width: 300px !important;
     height: 100% !important;
     border-radius: 10px;
 }

 .left-card {
     width: 300px !important;
     height: 100% !important;
     background-image: url("../imgs/background_arrows.png");
     background-size: contain;
     background-repeat: no-repeat;
 }

 .item-card-description {
     margin-bottom: 10px;
     border-bottom: 1px solid rgba(255, 255, 255, 0.388);
 }

 .back-ground-card {
     margin: 0px auto;
     background-image: url("../imgs/email_background.png");
     background-size: cover;
     background-repeat: no-repeat;
     padding: 20px;
     margin: 20px;
 }

 .body-content-email {
     height: 450px !important;
 }

 .area-social {
     background-image: url("../imgs/lines_footer_card_2.png");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }

 .area-social-footer {
     margin: 0 auto;
     display: flex;
     width: max-content;
 }

 .icon-footer {
     width: 40px;
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #044f7a !important;
     border-radius: 50%;
     margin-left: 10px;
 }

 .back-ground-email input,
 .back-ground-email textarea {
     background-color: #e5e5e5;
 }

 footer .content-footer {
     height: 80%;

 }

 footer .copyright {
     height: 20%;
     opacity: .5;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .content-footer-text {
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
 }

 .text-institutional-less {
     opacity: .8;
     text-align: justify;
     width: 25vw;
 }

 .options-navegation-mid {
     width: 10vw;
     opacity: .8;
 }

 .options-navegation {
     width: 18vw;
     opacity: .8;
 }

 .title {
     opacity: 1 !important;
 }

 #areaDepoiments {
     height: 100%;
     width: 100%;
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
 }

 .item-depoiments {
     width: 350px;
     height: 350px;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     margin: 10px 10px 40px 10px;
 }

 .icon-aspas {
     margin: 0 auto;
     width: 40px;
     height: 40px;
     background-image: url("../imgs/icon_aspas.png");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }

 .content-depoiments {
     width: 100%;
     height: 85%;
     background-color: #e5e5e57c;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: 10px;
 }

 .content-depoiments div {
     height: 300px;
     text-align: center;
 }

 .content-depoiments h5 {
     height: 40px;
     text-align: center;
 }

 /* HOVERS */

 @keyframes fadeIn {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }
 }